[submodule "packages/nomad-material-processing"]
	path = packages/nomad-material-processing
	url = git@github.com:FAIRmat-NFDI/nomad-material-processing.git
[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
