[submodule "packages/nomad-material-processing"]
	path = packages/nomad-material-processing
	url = git@github.com:FAIRmat-NFDI/nomad-material-processing.git
[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-measurements"]
	path = packages/nomad-measurements
	url = https://github.com/FAIRmat-NFDI/nomad-measurements.git
[submodule "packages/nomad-analysis"]
	path = packages/nomad-analysis
	url = https://github.com/FAIRmat-NFDI/nomad-analysis.git
[submodule "packages/nomad-ikz-plugin"]
	path = packages/nomad-ikz-plugin
	url = git@github.com:IKZ-Berlin/nomad-ikz-plugin.git
[submodule "packages/nomad-material-processing-example"]
	path = packages/nomad-material-processing-example
	url = https://github.com/FAIRmat-NFDI/nomad-material-processing-example
[submodule "packages/nomad-auto-xrd"]
	path = packages/nomad-auto-xrd
	url = git@github.com:FAIRmat-NFDI/nomad-auto-xrd.git
[submodule "packages/nomad-docs"]
	path = packages/nomad-docs
	url = https://github.com/FAIRmat-NFDI/nomad-docs.git
[submodule "packages/CrystaLLM"]
	path = packages/CrystaLLM
	url = git@github.com:ka-sarthak/CrystaLLM.git
[submodule "packages/pdi-nomad-plugin"]
	path = packages/pdi-nomad-plugin
	url = https://github.com/PDI-Berlin/pdi-nomad-plugin.git
[submodule "packages/nomad-crystallm"]
	path = packages/nomad-crystallm
	url = https://github.com/FAIRmat-NFDI/nomad-crystallm.git
[submodule "packages/basesection-migration"]
	path = packages/basesection-migration
	url = git@github.com:FAIRmat-NFDI/basesections-migration.git
[submodule "packages/nomad-example"]
	path = packages/nomad-example
	url = git@github.com:ka-sarthak/nomad-example.git
[submodule "packages/XRD-AutoAnalyzer"]
	path = packages/XRD-AutoAnalyzer
	url = https://github.com/Pepe-Marquez/XRD-AutoAnalyzer.git
[submodule "ui"]
	path = ui
	url = git@gitlab.mpcdf.mpg.de:nomad-lab/nomad-gui.git
[submodule "packages/nomad-dtu-nanolab-plugin"]
	path = packages/nomad-dtu-nanolab-plugin
	url = https://github.com/DTU-Nanolab-materials-discovery/nomad-dtu-nanolab-plugin.git
[submodule "packages/nomad-polymerization-reactions"]
	path = packages/nomad-polymerization-reactions
	url = git@github.com:FAIRmat-NFDI/nomad-polymerization-reactions.git
[submodule "packages/nomad-actions"]
	path = packages/nomad-actions
	url = git@github.com:FAIRmat-NFDI/nomad-actions.git
