[submodule "packages/nomad-material-processing"]
	path = packages/nomad-material-processing
	url = git@github.com:FAIRmat-NFDI/nomad-material-processing.git
[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-measurements"]
	path = packages/nomad-measurements
	url = https://github.com/FAIRmat-NFDI/nomad-measurements.git
[submodule "packages/nomad-analysis"]
	path = packages/nomad-analysis
	url = https://github.com/FAIRmat-NFDI/nomad-analysis.git
[submodule "packages/fairmat-readers-transmission"]
	path = packages/fairmat-readers-transmission
	url = https://github.com/FAIRmat-NFDI/readers-transmission.git
[submodule "packages/nomad-ikz-plugin"]
	path = packages/nomad-ikz-plugin
	url = git@github.com:IKZ-Berlin/nomad-ikz-plugin.git
[submodule "packages/nomad-material-processing-example"]
	path = packages/nomad-material-processing-example
	url = https://github.com/FAIRmat-NFDI/nomad-material-processing-example
[submodule "packages/nomad-auto-xrd"]
	path = packages/nomad-auto-xrd
	url = git@github.com:FAIRmat-NFDI/nomad-auto-xrd.git
[submodule "packages/autoXRD"]
	path = packages/autoXRD
	url = https://github.com/Pepe-Marquez/XRD-AutoAnalyzer
[submodule "docs"]
	path = docs
	url = git@github.com:FAIRmat-NFDI/nomad-docs.git
